body {
  font-family: Public Sans, "Public Sans Fallback: Arial", ui-sans-serif, system-ui, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 16px; /* Standard size for readability */
  line-height: 1.6; /* Increase line-height for better readability */
  word-spacing: 0.1em; /* Adds slight space between words */
  letter-spacing: 0.5px; /* Gentle letter spacing */
  color: #cbd5e1; /* Dark grey text for better contrast */
  background-color: #F5F5F5; /* Light grey background for a soft look */
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif; /* Stylish font for headers */
  margin-bottom: 1.2rem; /* Space between header and content */
  color: #424242; /* Slightly darker than body text */
}

p {
  margin-bottom: 1rem; /* Adds space between paragraphs */
  margin-left: 1rem;
  color: #424242;
}

a {
  color: #007bff; /* Nice blue for links */
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

code {
  font-family: Public Sans, "Public Sans Fallback: Arial", ui-sans-serif, system-ui, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  background-color: #f1f1f1; /* Light grey background for code blocks */
  padding: 2px 4px;
  border-radius: 4px;
  font-size: 90%; /* Slightly smaller font for code */
}

pre {
  background-color: #f8f8f8; /* Subtle background for preformatted text */
  border-left: 4px solid #007bff;
  padding: 1rem;
  font-size: 0.95em; /* Slightly smaller font */
  overflow-x: auto;
  border-radius: 8px;
}

.el-button--primary {
  color: #FFF;
  background-color: #7D2BE8;
  border-color: #7D2BE8;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity 0.5s ease;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}